
* {
    font-family: Arial, Helvetica, sans-serif;
    cursor:url(/public/assets/ui/cursor-arrow.png), auto;
}

html, body {margin: 0; height: 100%; overflow: hidden}

body {
    /* background-image: url(/public/assets/background.jpg); */
    background-color: black;
    background-size: cover;
    display: flex;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.95); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

    display: flex; /* Change to flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    color: white;
    text-align: center;
}

form * {
    font-size: 16px;
    padding: 5px 10px;
}

ul {
    color: white;
    background-color: black;
    margin: 0;
    padding-left: 1vw;
    margin: 15px 0px 0px 10px;

    font-size: 14px;

    width: 70vw;
    height: 20vh;

    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.2);

}

li {
    padding: 2px 0px;
}

#wrapper {
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 10px;
}

#canvas-background {
    background-color: black;
}

#right-side-panel {
    flex: 3;
    background-image: url(/public/assets/ui/main-simplified.jpg);
    background-size: cover;
}

#player-name-display {
    position: relative;
    top: 8.5%;
    text-align: center;
    padding-left: 3%;

    color: #aa967f;
}

#health-display {
    position: absolute;
    top: 77.3%;
    left: 78%;
    text-align: center;
    padding-left: 3%;

    color: #aa967f;
    font-weight: 600;
}

#mini-map-display {
    position: absolute;
    top: 73.2%;
    left: 89.2%;
    height: 14.2vh;
    width: 14.2vh;
}

#mini-map-player {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: red;
}

