/* * {
    border: 1px solid red;
} */

body {
    background-image: url(/public/assets/High-Res-Wood-Background-Wallpaper.jpg) 
}

ul {
    color: white;
    background-color: black;
    margin: 0;
    padding-left: 1vw;
    margin: 20px 0px 0px 10px;

    font-size: 14px;

    width: 74vw;
    height: 20vh;

    list-style-type: none;
    border: 1px solid black;

}

canvas {
    border: 1px solid black;
    margin-left: 10px;
}

