
* {
    font-family: Arial, Helvetica, sans-serif;
    cursor:url(/public/assets/ui/cursor-arrow.png), auto;
}

html, body {margin: 0; height: 100%; overflow: hidden}

body {
    /* background-image: url(/public/assets/background.jpg); */
    background-color: black;
    background-size: cover;
    display: flex;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.95); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

    display: flex; /* Change to flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;

}

form {
    color: white;
    text-align: center;
}

form * {
    font-size: 16px;
    padding: 5px 10px;
}

#left-side {
    position: relative;
}

canvas {
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#canvas-console {
    margin-top: 10px;
    background-color: black;
}

#wrapper {
    position: relative;
    /* width: 70vw; */
}

#game-form {
    margin-left: 10px;
    position: absolute;
    height: 20px;
    width: 97.6%;
    z-index: 1;
}

#game-chat {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

    width: 100%;
    padding-left: 5px;

    visibility: hidden;
    display: none;
}

#wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas-background {
    background-color: black;
}

#canvas-stats {
    margin-top: 10px;
    background-image: url(/public/assets/ui/main-simplified-mod.jpg);
    background-size: contain;
}
